name: medmind

services:
  postgres:
    networks:
      - appnet
    image: postgres:16
    env_file:
      - .env
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    networks:
      - appnet
    image: redis:7
    ports:
      - "6379:6379"
    volumes:
      - redisdata:/data

  web:
    image: suhailmorisi/medmind-backend-web:latest
    env_file:
      - .env
    command: bash -c "python manage.py migrate --no-input && python manage.py collectstatic --noinput && gunicorn MedMind_Backend.wsgi:application --bind 0.0.0.0:8000 --workers 3 --timeout 60"
    volumes:
      - ./media:/app/media
    ports:
      - "8000:8000"
    depends_on:
      - postgres
      - redis
    restart: unless-stopped
    networks:
      - appnet

  worker:
    image: suhailmorisi/medmind-backend-worker:latest
    env_file:
      - .env
    environment:
      - MODEL_FILENAME=best_model.keras
    volumes:
      - ./media:/app/media
    depends_on:
      - postgres
      - redis
    restart: unless-stopped
    networks:
      - appnet

networks:
  appnet:
    name: medmind_net

volumes:
  pgdata:
  redisdata:
